.btn {
    background-image:linear-gradient(to left,rgb(0, 0, 0),rgb(0, 0, 0),rgb(255, 217, 0));
    color: #fff;
    padding: 0.5em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.btn:hover {
    color: #ffbb33;
    -webkit-transform: scale(0.1);
    transform: scale(1.1);
    
}

